html{
    --main-bg-color: #F7E8EC;
    --main-txt-color: #442946;
    --footer-bg-color: #f5f3f3;
    --body-font: 20px;
    --btn-txt-color: white;
    --grid-bg-color: rgb(248, 246, 246);
    --highlight-txt-color: rgb(36, 145, 121);
    --main-grid-bg-color: #f8f1f3;
    --txt-deco-color:  #8e44ad;
    --box-shadow-color: rgba(26, 25, 25, 0.5);
    --btn-bg-color:  rgb(248, 246, 246);
    --form-bg-color: white;
    --form-text-color: #442946;
    --div-hover-color: white;
}
html.dark{
    --main-bg-color: #121212;
    --main-txt-color: #eaeaea;
    --footer-bg-color: #2F2A2F;
    --btn-txt-color: #eaeaea;
    --grid-bg-color:#313131;
    --main-grid-bg-color: #f8f1f3;
    --txt-deco-color:  #8e44ad;
    --box-shadow-color: rgb(15, 15, 15);
    --btn-bg-color: #ffbd39;
    --form-bg-color: #2F2A2F;
    --form-text-color: #eaeaea;
    --div-hover-color:#5c5b5b;
    
}
/* removes the horizontal scroll issue on larger screen but not mobile version */
/* *{
    max-width: 100%;
} */

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: 'Quicksand', sans-serif;
}

@media (prefers-color-scheme: dark) {
    html{
        --main-bg-color: #121212;
        --main-txt-color: #eaeaea;
        --footer-bg-color: #2F2A2F;
        --btn-txt-color: #eaeaea;
        --grid-bg-color:#313131;
        --main-grid-bg-color: #f8f1f3;
        --txt-deco-color:  #8e44ad;
        --box-shadow-color: rgb(15, 15, 15);
        --btn-bg-color: #ffbd39;
        --form-bg-color: #2F2A2F;
        --form-text-color: #eaeaea;
        --div-hover-color:#5c5b5b;
    }
}
/* Navigation bar styles */
.logo-nav{
    width: 35%;
    height: auto;
    border-radius: 50%;
}

.navbar{
    background: var(--main-bg-color);
    border: none;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5); 
}
.nav-link, .navbar-brand{
    font-size: 18px;
    color: var(--main-txt-color) !important;
}
.navbar-toggler, .navbar-toggler-icon{
    color: var(--main-bg-color);
    background-color: var(--main-txt-color);
}
.navbar-collapse .nav-link{
    margin: 0.6rem auto;
    transition: 0.6s ease;
    border-radius: 15px;
}
.navbar-collapse .nav-link:hover{
    background-image: url("../../pics/one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    color: var(--btn-txt-color) !important;
    text-shadow: 2px 2px 0px rgba(26, 25, 25, 0.5);
}

/* generic styles*/
.titles{
    font-family: 'Changa', sans-serif;
    font-size: 2.5rem;
    background-image: url("../../pics/one.jpg");
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    height: 13vh;
    
}
.container-div{
    margin-top: 10rem;
    margin-bottom: 5rem;
}
.main-btn{
    border-radius: 15px;
    padding: 10px 10px;
    width: 120px;
    background-image: url("../../pics/one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
    border: none;
}
.section-paragraph{
    width:50%;
    margin: auto;
    text-align: center;
    line-height: 2rem;
}
.section-paragraph-div{
    margin-bottom: 3.5rem;
    
}
.card-img-top{
    height: 180px;
}

/* navbar switch */
.custom-switch{
    padding-left: 0px !important;
}

.custom-control-input:checked ~ .custom-control-label::before{
    background-color: var(--main-txt-color);
}
.custom-switch .custom-control-input:checked~.custom-control-label::after{
    background-color: var(--txt-deco-color);
}
.custom-control-label::before{
    background-color: var(--main-txt-color);
    border-color: var(--main-txt-color);
}
.custom-switch .custom-control-label::before{
    width: 42px;
    height: 25px;
    border-radius: 34px;
}
.custom-switch .custom-control-label::after{
    width: 22px;
    height: 22px;
    border-radius: 50%;
}
.fa-moon, .fa-sun{
    margin-left: 1rem;
}
.fa-1x{
    font-size: 1.7rem;
}
#switch-mode{
    width: 50px;
}

/* Project card styles */

.project-card{
    background-color: var(--grid-bg-color);
    border-color: var(--main-bg-color);
    box-shadow: 2px 2px 3px 1px var(--box-shadow-color);
    transition: 0.6s ease;
}

.project-card:hover{
    border-bottom: 2px solid var(--main-txt-color);
    background-color: var(--div-hover-color); 
    box-shadow: 5px 5px 5px 2px var(--box-shadow-color);
}
.project-card-btn{
    color: var(--main-txt-color);
    padding: 4px 15px;
    border-radius: 15px;
    width: 40%;
    border: 1px solid var(--btn-bg-color);
    box-shadow: 2px 2px 5px var(--box-shadow-color);
}
.project-card-btn:hover{
    background-image: url("../../pics/one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
}
.card-column{
    margin-top: 2rem;
}


/* blogs section */

.blog-card{
    background-color: var(--grid-bg-color);
    transition: 0.6s ease;
    /* color: white !important; */
   
}
.blog-card:hover{
    box-shadow: 5px 5px 5px 2px var(--box-shadow-color);
    border-color: var(--main-txt-color);
}
.blog-card-btn{
    padding: 6px 18px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-image: url("../../pics/one.jpg");
    background-clip: border-box;
    -webkit-background-clip: border-box;
    text-align: center;
    color: var(--btn-txt-color);
}
.blog-card-btn:hover{
    text-shadow: 2px 2px 5px var(--box-shadow-color);
    color: var(--btn-txt-color);
}

/* bio section */
.card-img-overlay{
    top: 6rem;
    color: rgb(243, 232, 232);
}
.about-welcome{
    font-size: 2.5rem;
    text-shadow: 2px 2px 0px rgba(26, 25, 25, 0.5);
}
.bio-paragraph{
    line-height: 2rem;
}

/* contact section */
.contact-me{

}
.form-control{
    background-color: var(--form-bg-color);
    color: var(--form-txt-color);
    border: none;
}
.isLoading{
    color: rgb(165, 54, 165);
    padding: 10px 0 10px 0;
    margin: 1px;  
}
.successful-alert{
    color: green;
    border: 1px solid green;
    padding: 10px 0 10px 10px;
    margin-top: 2rem;
    background-color: #fdf6f6;
}
.unsuccessful-alert{
    color: #c20707;
    border: 1px solid #c20707;
    padding: 10px 0 10px 10px;
    margin-top: 2rem;
    background-color: #fdf6f6;
}
.wrong-email{
    color: #c20707 !important;
    padding: 5px 0 5px 5px;
}
/* footer */

#footer{
    background: var(--footer-bg-color);
    color: var(--main-txt-color);
    margin-bottom: 0;
    box-shadow: 1px 1px 6px 0px var(--box-shadow-color); 
}
    
.footer-p{
    padding: 0.7rem;
}

/* media queries */
@media only screen and (max-width: 780px){
    .container-div{
        margin-top: 8rem;
        margin-bottom: 5rem;
    }
    .titles{
        font-size: 1.7rem;
    }
    .bio-div{
        margin-bottom: 3rem;
    }
    .get-in-touch{
        width:90%;
        margin: auto;
        text-align: left;
    }
    .section-paragraph{
        width: 90%;
        margin: auto;
    }
    .contact-me{
        margin-bottom: 3rem;
    }
    .card-img-overlay{
        top: 3.3rem;
       
    }
    .about-welcome{
        font-size: 2.2rem;
    }
    /* .biography{
        margin-top: 3rem;
    } */
}