:root{
    --main-bg-color: #F7E8EC;
    --main-txt-color: #442946;
    --footer-bg-color: #2F2A2F;
    --body-font: 20px;
    --btn-txt-color: white;
    --grid-bg-color: rgb(248, 246, 246);
    --highlight-txt-color: rgb(36, 145, 121);
    --main-grid-bg-color: #f8f1f3;
    --txt-deco-color:  #8e44ad;
    --box-shadow-color: rgba(26, 25, 25, 0.5);
    --btn-bg-color:  rgb(248, 246, 246);
    --form-bg-color: white;
    --form-text-color: #442946;
    --div-hover-color: white;
}
/* removes the horizontal scroll issue on larger screen but not mobile version */
*{
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    font-family: 'Quicksand', sans-serif;
}
.dark-theme{
    --main-bg-color: #121212;
    --main-txt-color: #eaeaea;
    --footer-bg-color: #2F2A2F;
    --btn-txt-color: #eaeaea;
    --grid-bg-color:#313131;
    --main-grid-bg-color: #f8f1f3;
    --txt-deco-color:  #8e44ad;
    --box-shadow-color: rgb(15, 15, 15);
    --btn-bg-color: #ffbd39;
    --form-bg-color: #2F2A2F;
    --form-text-color: #eaeaea;
    --div-hover-color:#5c5b5b;
    
}

/* Navigation bar styles */
.logo-nav{
    width: 35%;
    height: auto;
    border-radius: 50%;
}
.navbar{
    background: inherit;
    border: none;
    box-shadow: 1px 1px 6px 0px rgba(0, 0, 0, 0.5); 
}
.nav-link, .navbar-brand{
    font-size: 18px;
    color: var(--main-txt-color) !important;
}
.navbar-toggler, .navbar-toggler-icon{
    color: var(--main-bg-color);
    background-color: var(--main-txt-color);
}
/* navbar switch */
.custom-control-input:checked ~ .custom-control-label::before{
    background-color: var(--main-bg-color);
    border-color: var(--main-bg-color);
}
.custom-control-label::before{
    background-color: var(--main-txt-color);
    border-color: var(--main-txt-color);
}
#switch-mode{
    width: 50px;
}
